<!doctype html>
<html ng-app>
  <head>
    <script src="http://code.angularjs.org/1.2.0-rc.2/angular.min.js"></script>
  </head>
  <body>
    <input type="text" ng-model="name">
    <p>Hello {{ name }}!</p>
  </body>
</html>